---
- name: centos install docker
  hosts: jenkins-centos-machines
  become: yes
  become_user: root
  remote_user: attila

  tasks:
  - name: creating a docker repository
    yum_repository:
      description: repo for docker
      name: docker-ce
      baseurl: https://download.docker.com/linux/centos/7/x86_64/stable/
      gpgcheck: no

  - name: installing docker
    package:
      name: docker-ce
      state: present

  - name: starting docker services
    service:
      name: docker
      state: started

  - name: create docker group
    group:
      name: docker  
      state: present

  - name: add user to admin group
    user:
      name: attila
      group: docker
